@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Roboto:wght@100;400&family=Ubuntu:ital@1&display=swap');
*{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

nav{
  background-color: rgb(111, 209, 220);
  color: white;
  padding: 20px;
  text-align: center;
}

.container{
  background-color: aliceblue;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container > form{
  display: flex;
  flex-direction: column;
}

.container > h1{
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}

.container > form > input,textarea,button{
  padding: 20px;
  border: rgb(40, 33, 33);
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.4rem;
}

button{
  border-radius: none;
  cursor: pointer;
  background-color: rgb(34, 31, 31);
  color: white;
}



.task{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}


.task > div{
  width: 100%;
}

.task span{
  color: black;
}

.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: aliceblue;
}